<a href="https://colab.research.google.com/github/ferrry-ghsb/bigdata_6team/blob/main/%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import io
import pandas as pd

In [3]:
hol = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/holidays_events.csv')
oil = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/oil.csv')
submission = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/sample_submission.csv')
stores = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/stores.csv')
test = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/test.csv')
train = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/train.csv')
transaction = pd.read_csv('/content/drive/MyDrive/store-sales-time-series-forecasting/transactions.csv')

In [4]:
#2012-03-02 ~ 2017-12-26까지의 데이터
hol.head()

         date     type  ...                    description transferred
0  2012-03-02  Holiday  ...             Fundacion de Manta       False
1  2012-04-01  Holiday  ...  Provincializacion de Cotopaxi       False
2  2012-04-12  Holiday  ...            Fundacion de Cuenca       False
3  2012-04-14  Holiday  ...      Cantonizacion de Libertad       False
4  2012-04-21  Holiday  ...      Cantonizacion de Riobamba       False

[5 rows x 6 columns]

In [5]:
hol.tail()

           date        type    locale locale_name description  transferred
345  2017-12-22  Additional  National     Ecuador   Navidad-3        False
346  2017-12-23  Additional  National     Ecuador   Navidad-2        False
347  2017-12-24  Additional  National     Ecuador   Navidad-1        False
348  2017-12-25     Holiday  National     Ecuador     Navidad        False
349  2017-12-26  Additional  National     Ecuador   Navidad+1        False

In [6]:
hol.describe()

              date     type    locale locale_name description transferred
count          350      350       350         350         350         350
unique         312        6         3          24         103           2
top     2014-06-25  Holiday  National     Ecuador    Carnaval       False
freq             4      221       174         174          10         338

In [7]:
oil.describe()

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190000
25%      46.405000
50%      53.190000
75%      95.660000
max     110.620000

In [8]:
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02       93.14
2  2013-01-03       92.97
3  2013-01-04       93.12
4  2013-01-07       93.20

In [9]:
oil.tail()

            date  dcoilwtico
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

In [10]:
submission.describe()

                 id    sales
count  2.851200e+04  28512.0
mean   3.015144e+06      0.0
std    8.230850e+03      0.0
min    3.000888e+06      0.0
25%    3.008016e+06      0.0
50%    3.015144e+06      0.0
75%    3.022271e+06      0.0
max    3.029399e+06      0.0

In [11]:
#54개 store, 17개 클러스터
stores.describe()

       store_nbr    cluster
count  54.000000  54.000000
mean   27.500000   8.481481
std    15.732133   4.693395
min     1.000000   1.000000
25%    14.250000   4.000000
50%    27.500000   8.500000
75%    40.750000  13.000000
max    54.000000  17.000000

In [12]:
stores

    store_nbr           city                           state type  cluster
0           1          Quito                       Pichincha    D       13
1           2          Quito                       Pichincha    D       13
2           3          Quito                       Pichincha    D        8
3           4          Quito                       Pichincha    D        9
4           5  Santo Domingo  Santo Domingo de los Tsachilas    D        4
5           6          Quito                       Pichincha    D       13
6           7          Quito                       Pichincha    D        8
7           8          Quito                       Pichincha    D        8
8           9          Quito                       Pichincha    B        6
9          10          Quito                       Pichincha    C       15
10         11        Cayambe                       Pichincha    B        6
11         12      Latacunga                        Cotopaxi    C       15
12         13      Latacunga                        Cotopaxi    C       15
13         14       Riobamba                      Chimborazo    C        7
14         15         Ibarra                        Imbabura    C       15
15         16  Santo Domingo  Santo Domingo de los Tsachilas    C        3
16         17          Quito                       Pichincha    C       12
17         18          Quito                       Pichincha    B       16
18         19       Guaranda                         Bolivar    C       15
19         20          Quito                       Pichincha    B        6
20         21  Santo Domingo  Santo Domingo de los Tsachilas    B        6
21         22           Puyo                         Pastaza    C        7
22         23         Ambato                      Tungurahua    D        9
23         24      Guayaquil                          Guayas    D        1
24         25        Salinas                     Santa Elena    D        1
25         26      Guayaquil                          Guayas    D       10
26         27          Daule                          Guayas    D        1
27         28      Guayaquil                          Guayas    E       10
28         29      Guayaquil                          Guayas    E       10
29         30      Guayaquil                          Guayas    C        3
30         31       Babahoyo                        Los Rios    B       10
31         32      Guayaquil                          Guayas    C        3
32         33        Quevedo                        Los Rios    C        3
33         34      Guayaquil                          Guayas    B        6
34         35         Playas                          Guayas    C        3
35         36       Libertad                          Guayas    E       10
36         37         Cuenca                           Azuay    D        2
37         38           Loja                            Loja    D        4
38         39         Cuenca                           Azuay    B        6
39         40        Machala                          El Oro    C        3
40         41        Machala                          El Oro    D        4
41         42         Cuenca                           Azuay    D        2
42         43     Esmeraldas                      Esmeraldas    E       10
43         44          Quito                       Pichincha    A        5
44         45          Quito                       Pichincha    A       11
45         46          Quito                       Pichincha    A       14
46         47          Quito                       Pichincha    A       14
47         48          Quito                       Pichincha    A       14
48         49          Quito                       Pichincha    A       11
49         50         Ambato                      Tungurahua    A       14
50         51      Guayaquil                          Guayas    A       17
51         52          Manta                          Manabi    A       11
52         53          Manta                          Manabi    D       13
53         54      El Carmen                          Manabi    C        3

In [13]:
#2017-08-16 ~ 2017-08-31
test.head()

        id        date  store_nbr      family  onpromotion
0  3000888  2017-08-16          1  AUTOMOTIVE            0
1  3000889  2017-08-16          1   BABY CARE            0
2  3000890  2017-08-16          1      BEAUTY            2
3  3000891  2017-08-16          1   BEVERAGES           20
4  3000892  2017-08-16          1       BOOKS            0

In [14]:
test.tail()

            id        date  store_nbr                      family  onpromotion
28507  3029395  2017-08-31          9                     POULTRY            1
28508  3029396  2017-08-31          9              PREPARED FOODS            0
28509  3029397  2017-08-31          9                     PRODUCE            1
28510  3029398  2017-08-31          9  SCHOOL AND OFFICE SUPPLIES            9
28511  3029399  2017-08-31          9                     SEAFOOD            0

In [15]:
test.describe()

                 id     store_nbr   onpromotion
count  2.851200e+04  28512.000000  28512.000000
mean   3.015144e+06     27.500000      6.965383
std    8.230850e+03     15.586057     20.683952
min    3.000888e+06      1.000000      0.000000
25%    3.008016e+06     14.000000      0.000000
50%    3.015144e+06     27.500000      0.000000
75%    3.022271e+06     41.000000      6.000000
max    3.029399e+06     54.000000    646.000000

In [16]:
#2013-01-01 ~ 2017-08-15까지의 데이터
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [17]:
train.tail()

              id        date  ...     sales onpromotion
3000883  3000883  2017-08-15  ...   438.133           0
3000884  3000884  2017-08-15  ...   154.553           1
3000885  3000885  2017-08-15  ...  2419.729         148
3000886  3000886  2017-08-15  ...   121.000           8
3000887  3000887  2017-08-15  ...    16.000           0

[5 rows x 6 columns]

In [18]:
train.describe()

                 id     store_nbr         sales   onpromotion
count  3.000888e+06  3.000888e+06  3.000888e+06  3.000888e+06
mean   1.500444e+06  2.750000e+01  3.577757e+02  2.602770e+00
std    8.662819e+05  1.558579e+01  1.101998e+03  1.221888e+01
min    0.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
25%    7.502218e+05  1.400000e+01  0.000000e+00  0.000000e+00
50%    1.500444e+06  2.750000e+01  1.100000e+01  0.000000e+00
75%    2.250665e+06  4.100000e+01  1.958473e+02  0.000000e+00
max    3.000887e+06  5.400000e+01  1.247170e+05  7.410000e+02

In [19]:
transaction.describe()

          store_nbr  transactions
count  83488.000000  83488.000000
mean      26.939237   1694.602158
std       15.608204    963.286644
min        1.000000      5.000000
25%       13.000000   1046.000000
50%       27.000000   1393.000000
75%       40.000000   2079.000000
max       54.000000   8359.000000

In [20]:
hol["date"][41]

'2013-01-01'

In [21]:
hol["date"][327]

'2017-08-24'

In [22]:
hol["date"][328]

'2017-09-28'

In [23]:
#시간 구간을 2013-01-01부터 2017-08-31로 고정.
#hol이 시간 구간을 넘으므로 잘라서 사용.

In [24]:
hol = hol[41:328]

In [25]:
#train과 store을 store nber 기준으로 합병. 
#합병된 df이름은 train_cp
train_cp = train.merge(stores, how = 'left', left_on='store_nbr', right_on='store_nbr')

In [26]:
train_cp

              id        date  store_nbr  ...      state  type  cluster
0              0  2013-01-01          1  ...  Pichincha     D       13
1              1  2013-01-01          1  ...  Pichincha     D       13
2              2  2013-01-01          1  ...  Pichincha     D       13
3              3  2013-01-01          1  ...  Pichincha     D       13
4              4  2013-01-01          1  ...  Pichincha     D       13
...          ...         ...        ...  ...        ...   ...      ...
3000883  3000883  2017-08-15          9  ...  Pichincha     B        6
3000884  3000884  2017-08-15          9  ...  Pichincha     B        6
3000885  3000885  2017-08-15          9  ...  Pichincha     B        6
3000886  3000886  2017-08-15          9  ...  Pichincha     B        6
3000887  3000887  2017-08-15          9  ...  Pichincha     B        6

[3000888 rows x 10 columns]

In [27]:
#train+store+oil
train_cp = train_cp.merge(oil, how = 'left', left_on='date', right_on='date')

In [28]:
train_cp

              id        date  store_nbr  ... type  cluster  dcoilwtico
0              0  2013-01-01          1  ...    D       13         NaN
1              1  2013-01-01          1  ...    D       13         NaN
2              2  2013-01-01          1  ...    D       13         NaN
3              3  2013-01-01          1  ...    D       13         NaN
4              4  2013-01-01          1  ...    D       13         NaN
...          ...         ...        ...  ...  ...      ...         ...
3000883  3000883  2017-08-15          9  ...    B        6       47.57
3000884  3000884  2017-08-15          9  ...    B        6       47.57
3000885  3000885  2017-08-15          9  ...    B        6       47.57
3000886  3000886  2017-08-15          9  ...    B        6       47.57
3000887  3000887  2017-08-15          9  ...    B        6       47.57

[3000888 rows x 11 columns]

In [29]:
#train+store+oil+holiday
train_cp = train_cp.merge(hol, how = 'left', left_on='date', right_on='date')

In [30]:
train_cp

              id        date  ...            description transferred
0              0  2013-01-01  ...     Primer dia del ano       False
1              1  2013-01-01  ...     Primer dia del ano       False
2              2  2013-01-01  ...     Primer dia del ano       False
3              3  2013-01-01  ...     Primer dia del ano       False
4              4  2013-01-01  ...     Primer dia del ano       False
...          ...         ...  ...                    ...         ...
3054343  3000883  2017-08-15  ...  Fundacion de Riobamba       False
3054344  3000884  2017-08-15  ...  Fundacion de Riobamba       False
3054345  3000885  2017-08-15  ...  Fundacion de Riobamba       False
3054346  3000886  2017-08-15  ...  Fundacion de Riobamba       False
3054347  3000887  2017-08-15  ...  Fundacion de Riobamba       False

[3054348 rows x 16 columns]

"store_nbr", "family", "city", "state", "type_x", "cluster", "type_y", "locale", "locale_name", "description",	"transferred" 는 원핫 인코딩 진행

In [31]:
#family unique값 확인
train_cp['family'].unique()

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

In [32]:
fam_name = ['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD']

In [ ]:
#train_cp['family'].sum()

In [ ]:
#plt.pie(ratio, labels=fam_name, autopct='%.1f%%')
#plt.show()

In [33]:
#원핫인코딩을 위한 함수 정의
def dummy_data(data, columns):
    for column in columns:
        data = pd.concat([data, pd.get_dummies(data[column], prefix = column)], axis=1)
        data = data.drop(column, axis=1)
    return data

In [34]:
trans_cols = ["store_nbr", "family", "city", "state", "type_x", "cluster", "type_y", "locale", "locale_name", "description",	"transferred"]

In [35]:
train_trans = dummy_data(train_cp, trans_cols)

In [36]:
#원핫인코딩 잘 진행됐는지 확인
train_trans

              id        date  ...  transferred_False  transferred_True
0              0  2013-01-01  ...                  1                 0
1              1  2013-01-01  ...                  1                 0
2              2  2013-01-01  ...                  1                 0
3              3  2013-01-01  ...                  1                 0
4              4  2013-01-01  ...                  1                 0
...          ...         ...  ...                ...               ...
3054343  3000883  2017-08-15  ...                  1                 0
3054344  3000884  2017-08-15  ...                  1                 0
3054345  3000885  2017-08-15  ...                  1                 0
3054346  3000886  2017-08-15  ...                  1                 0
3054347  3000887  2017-08-15  ...                  1                 0

[3054348 rows x 235 columns]

In [64]:
train_trans = dummy_data(train_trans, ['store_nbr'])

In [37]:
#원핫인코딩 진행한 csv 파일 저장
train_trans.to_csv("train_trans.csv")

In [38]:
#표준화
sales_mean = train_trans["sales"].mean(axis=0)
sales_std = train_trans["sales"].std(axis=0)
sales = (train_trans["sales"]-sales_mean) / sales_std
print(sales)

0         -0.324235
1         -0.324235
2         -0.324235
3         -0.324235
4         -0.324235
             ...
3054343    0.071447
3054344   -0.184657
3054345    1.861044
3054346   -0.214959
3054347   -0.309785
Name: sales, Length: 3054348, dtype: float64

In [42]:
train_trans["std_sales"] = sales

In [43]:
train_trans

              id        date  ...  transferred_True  std_sales
0              0  2013-01-01  ...                 0  -0.324235
1              1  2013-01-01  ...                 0  -0.324235
2              2  2013-01-01  ...                 0  -0.324235
3              3  2013-01-01  ...                 0  -0.324235
4              4  2013-01-01  ...                 0  -0.324235
...          ...         ...  ...               ...        ...
3054343  3000883  2017-08-15  ...                 0   0.071447
3054344  3000884  2017-08-15  ...                 0  -0.184657
3054345  3000885  2017-08-15  ...                 0   1.861044
3054346  3000886  2017-08-15  ...                 0  -0.214959
3054347  3000887  2017-08-15  ...                 0  -0.309785

[3054348 rows x 236 columns]

In [44]:
del train_trans["sales"]

In [45]:
train_trans

              id        date  ...  transferred_True  std_sales
0              0  2013-01-01  ...                 0  -0.324235
1              1  2013-01-01  ...                 0  -0.324235
2              2  2013-01-01  ...                 0  -0.324235
3              3  2013-01-01  ...                 0  -0.324235
4              4  2013-01-01  ...                 0  -0.324235
...          ...         ...  ...               ...        ...
3054343  3000883  2017-08-15  ...                 0   0.071447
3054344  3000884  2017-08-15  ...                 0  -0.184657
3054345  3000885  2017-08-15  ...                 0   1.861044
3054346  3000886  2017-08-15  ...                 0  -0.214959
3054347  3000887  2017-08-15  ...                 0  -0.309785

[3054348 rows x 235 columns]

In [ ]:
#categorical class는 one hot encoding으로 바꿔야한다.
#dcoilwtico 는 NULL 값 채워야 함.
train_cp.isnull().sum()

In [46]:
#dcoilwtico의 null값을 뒷값으로 대체(첫행부터 값이 존재하지 않아서 뒷값으로 대체함)
train_trans['dcoilwtico'].fillna(method='bfill', inplace=True)

In [ ]:
train_cp.isnull().sum()

In [65]:
train_trans

              id        date  ...  store_nbr_53  store_nbr_54
0              0  2013-01-01  ...             0             0
1              1  2013-01-01  ...             0             0
2              2  2013-01-01  ...             0             0
3              3  2013-01-01  ...             0             0
4              4  2013-01-01  ...             0             0
...          ...         ...  ...           ...           ...
3054343  3000883  2017-08-15  ...             0             0
3054344  3000884  2017-08-15  ...             0             0
3054345  3000885  2017-08-15  ...             0             0
3054346  3000886  2017-08-15  ...             0             0
3054347  3000887  2017-08-15  ...             0             0

[3054348 rows x 288 columns]

In [67]:
train_trans_I = train_trans.set_index('date')

In [68]:
del train_trans_I["id"]

In [69]:
train_trans_I

            onpromotion  dcoilwtico  ...  store_nbr_53  store_nbr_54
date                                 ...
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
...                 ...         ...  ...           ...           ...
2017-08-15            0       47.57  ...             0             0
2017-08-15            1       47.57  ...             0             0
2017-08-15          148       47.57  ...             0             0
2017-08-15            8       47.57  ...             0             0
2017-08-15            0       47.57  ...             0             0

[3054348 rows x 286 columns]

In [60]:
import tensorflow as tf
from tensorflow.keras.layers import LSTM, Flatten, TimeDistributed, Conv1D, MaxPooling1D
from tensorflow.keras import Model, Sequential
import seaborn as sns
from __future__ import absolute_import, division, print_function, unicode_literals
import io
import os

In [62]:
def multivariate_data(dataset, target, start_index, end_index, history_size, target_size, step, single_step=False):
    data = []
    labels = []

    start_index = start_index + history_size
    if end_index is None:
        end_index = len(dataset) - target_size

    for i in range(start_index, end_index):
        indices = range(i - history_size, i, step)
        data.append(dataset[indices])

        if single_step:
            labels.append(target[i + target_size])
        else:
            labels.append(target[i:i + target_size])
    return np.array(data), np.array(labels)

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
data = train_trans_I.copy()

In [73]:
del data['std_sales']

In [74]:
x_train, x_valid, y_train, y_valid = train_test_split(data, train_trans_I['std_sales'], test_size=0.2, shuffle=False)

In [75]:
x_train

            onpromotion  dcoilwtico  ...  store_nbr_53  store_nbr_54
date                                 ...
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
2013-01-01            0       93.14  ...             0             0
...                 ...         ...  ...           ...           ...
2016-09-12            0       46.28  ...             0             0
2016-09-12            0       46.28  ...             0             0
2016-09-12            0       46.28  ...             0             0
2016-09-12            0       46.28  ...             0             0
2016-09-12            8       46.28  ...             0             0

[2443478 rows x 285 columns]

In [76]:
x_valid

            onpromotion  dcoilwtico  ...  store_nbr_53  store_nbr_54
date                                 ...
2016-09-12            0       46.28  ...             0             0
2016-09-12            0       46.28  ...             0             0
2016-09-12            0       46.28  ...             0             0
2016-09-12            1       46.28  ...             0             0
2016-09-12            1       46.28  ...             0             0
...                 ...         ...  ...           ...           ...
2017-08-15            0       47.57  ...             0             0
2017-08-15            1       47.57  ...             0             0
2017-08-15          148       47.57  ...             0             0
2017-08-15            8       47.57  ...             0             0
2017-08-15            0       47.57  ...             0             0

[610870 rows x 285 columns]

In [78]:
TRAIN_SPLIT = len(data) - int(0.2 * len(data))

In [80]:
past_history = 720
future_target = 72
STEP = 6

x_train_single, y_train_single = multivariate_data(x_train, y_train, 0, TRAIN_SPLIT, past_history,
                                                   future_target, STEP, single_step=True)
x_val_single, y_val_single = multivariate_data(x_valid, y_valid, TRAIN_SPLIT, None, past_history,
                                               future_target, STEP, single_step=True)

print('Single window of past history : {}'.format(x_train_single[0].shape))

KeyError: ignored

In [134]:
!git init

Reinitialized existing Git repository in /content/bigdata_6team/bigdata_6team/.git/

In [117]:
%cd bigdata_6team/

/content/bigdata_6team/bigdata_6team

In [133]:
%ls -a

./  ../  bigdata_6team/  .git/

In [120]:
!git branch -m main

error: refname refs/heads/master not found
fatal: Branch rename failed

In [121]:
!git status

On branch master

No commits yet

nothing to commit (create/copy files and use "git add" to track)

In [124]:
!git config --global user.email "ferrry.ghsb@google.com"
!git config --global user.name "ferrry-ghsb"

In [135]:
!git add .

In [136]:
!git commit -m "one hot encoding&LSTM"

On branch master

Initial commit

nothing to commit

In [137]:
!git remote add origin https://github.com/ferrry-ghsb/bigdata_6team

fatal: remote origin already exists.

In [138]:
!git push -u origin main

error: src refspec main does not match any.
error: failed to push some refs to 'https://github.com/ferrry-ghsb/bigdata_6team'